.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerCopyright {
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    margin-bottom: 50px;
}

.footerSocialBar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    width: 120px;
}

.footerSocialBarIcon {
    width: 28px;
}

.footerSocialBarIcon:focus {
    cursor: pointer;
    fill: hsl(223, 87%, 63%);
    outline: none;
}

.footerSocialBarIcon:hover {
    cursor: pointer;
    fill: hsl(223, 87%, 63%);
}

.image {
    display: flex;
    justify-content: center;
    max-width: 640px;
    width: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    width: 100%;

    @media (max-width: 450px) {
        margin-bottom: 128px;
    }
}

.inputBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputBarContent {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 640px;
    width: 100%;

    @media (max-width: 450px) {
        grid-template-columns: 1fr;
        margin: 0 24px;
    }
}

.inputBarContentButton {
    background-color: hsl(223, 87%, 63%);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 5px 12px -5px hsl(223, 87%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;

    @media (max-width: 450px) {
        font-size: 14px;
        margin-top: 12px;
        padding: 16px 24px;
    }
}

.inputBarContentButton:focus {
    background-color: hsl(223, 100%, 75%);
    outline: none;
}

.inputBarContentButton:hover {
    background-color: hsl(223, 100%, 75%);
}

.inputBarContentInput {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    color: hsl(209, 33%, 12%);
    margin-right: 12px;
    padding: 16px 32px;

    @media (max-width: 450px) {
        font-size: 14px;
        margin-right: 0;
    }
}

.inputBarContentInput::placeholder {
    color: hsl(223, 100%, 88%);
    font-size: 14px;
}

.inputBarContentInput.error {
    border: 1px solid hsl(354, 100%, 66%);
}

.inputBarErrorContainer {
    align-self: center;
    color: hsl(354, 100%, 66%);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.inputBarErrorLabelDesktop {
    display: block;
    font-size: 11px;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 32px;
    margin-top: 4px;
    max-width: 640px;
    opacity: 0;
    width: 100%;
}

.inputBarErrorLabelDesktop.error {
    @media (min-width: 451px) {
        opacity: 1;
    }
}

.inputBarErrorLabelMobile {
    align-self: center;
    color: hsl(354, 100%, 66%);
    display: none;
    font-size: 12px;
    font-style: italic;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
    text-align: center;
}

.inputBarErrorLabelMobile.error {
    @media (max-width: 450px) {
        display: block;
    }
}

.logo {
    @media (max-width: 450px) {
        width: 70px;
    }
}

.logoContainer {
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 85px;
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    display: grid;
    font-family: "Libre Franklin", sans-serif;
    grid-template-rows: 1fr auto auto;
    justify-content: center;
    margin: 0 24px;
}

h1 {
    color: hsl(209, 33%, 12%);
    font-size: 45px;
    margin-bottom: 16px;
    text-align: center;

    @media (max-width: 450px) {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

h1 span {
    color: hsl(0, 0%, 59%);
    font-weight: normal;
}

p {
    color: hsl(0, 0%, 59%);
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 16px;
    text-align: center;

    @media (max-width: 450px) {
        font-size: 15px;
    }
}